.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  // line we put in
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-size: 16px;
  font-family: $sans-serif;
  text-transform: uppercase;
  margin: 20px;
}

.right-nav > ul > li {
  margin: 2px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {
  font-size: 24px;

}

