<header class="masthead">
<nav class="language-nav">
  <ul>
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>
</nav>

<img src="assets/AA_Times_Logo.png" alt="">

<nav>
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li class="u"><i class="far fa-newspaper"></i>Today’s Paper</li>
    <li class="u"><i class="fas fa-video"></i>Video</li>
    <li>77°F</li>
    <li><span>AAO</span>+100%</li>
  </ul>
</nav>
</header>

